In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import plot_roc_curve

In [2]:
df = pd.read_csv('C:/Users/Inacio Raimundo/Downloads/MA/spring_2022/data-analysis/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Analisando os dados

### Separando em Treino e Teste

In [3]:
train, test = train_test_split(df, test_size = 0.2, random_state = 0)
train

     sepal_length  sepal_width  petal_length  petal_width     species
137           6.4          3.1           5.5          1.8   virginica
84            5.4          3.0           4.5          1.5  versicolor
27            5.2          3.5           1.5          0.2      setosa
127           6.1          3.0           4.9          1.8   virginica
132           6.4          2.8           5.6          2.2   virginica
..            ...          ...           ...          ...         ...
9             4.9          3.1           1.5          0.1      setosa
103           6.3          2.9           5.6          1.8   virginica
67            5.8          2.7           4.1          1.0  versicolor
117           7.7          3.8           6.7          2.2   virginica
47            4.6          3.2           1.4          0.2      setosa

[120 rows x 5 columns]

In [4]:
test

     sepal_length  sepal_width  petal_length  petal_width     species
114           5.8          2.8           5.1          2.4   virginica
62            6.0          2.2           4.0          1.0  versicolor
33            5.5          4.2           1.4          0.2      setosa
107           7.3          2.9           6.3          1.8   virginica
7             5.0          3.4           1.5          0.2      setosa
100           6.3          3.3           6.0          2.5   virginica
40            5.0          3.5           1.3          0.3      setosa
86            6.7          3.1           4.7          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor
71            6.1          2.8           4.0          1.3  versicolor
134           6.1          2.6           5.6          1.4   virginica
51            6.4          3.2           4.5          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
54            6.5          2.8           4.6          1.5  versicolor
63            6.1          2.9           4.7          1.4  versicolor
37            4.9          3.1           1.5          0.1      setosa
78            6.0          2.9           4.5          1.5  versicolor
90            5.5          2.6           4.4          1.2  versicolor
45            4.8          3.0           1.4          0.3      setosa
16            5.4          3.9           1.3          0.4      setosa
121           5.6          2.8           4.9          2.0   virginica
66            5.6          3.0           4.5          1.5  versicolor
24            4.8          3.4           1.9          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
126           6.2          2.8           4.8          1.8   virginica
22            4.6          3.6           1.0          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
97            6.2          2.9           4.3          1.3  versicolor
93            5.0          2.3           3.3          1.0  versicolor
26            5.0          3.4           1.6          0.4      setosa

In [7]:
df.keys()

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [11]:
X, Y = df.sepal_length, df.sepal_width
X

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64