* import numpy as np
* import pandas as pd
* import matplotlib.pyplot as plt
* from sklearn.model_selection import train_test_split   -> Divisor de dados para treino e test (TREINO_TESTE_DIVISOR/FATIADOR)

### Modelos
* from sklearn.linear_model import LogisticRegression   -> Regressão logística
* from sklearn.linear_model import LinearRegression   -> Regressão linear
* from sklearn.tree import DecisionTreeClassifier   -> Árvores de decisão (classificador)
* from sklearn.neighbors import KNeighborsClassifier   -> Vizinhos mais próximos
* from sklearn.discriminant_analysis import LinearDiscriminantAnalysis  -> Análise de discriminantes
* from sklearn.ensemble import RandomForestClassifier  -> Para rondar
* from sklearn.svm import SVC    -> Modelo svm (system virtual machine)

### Métricas
* from sklearn.metrics import plot_confusion_matrix
* from sklearn.metrics import precision_score
* from sklearn.metrics import recall_score
* from sklearn.metrics import plot_roc_curve

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import plot_roc_curve

In [44]:
df = pd.read_csv('C:/Users/Inacio Raimundo/Downloads/MA/spring_2022/data-analysis/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Analisando os dados

## Removing duplicate lines

* Counting...

In [45]:
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

### Returning the duplicates lines removed
* panda.DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [46]:
df['species'].drop_duplicates()

0          setosa
50     versicolor
100     virginica
Name: species, dtype: object

### Separando em Treino e Teste
* train, test = train_test_split(df, test_size = 0.2, random_state = 0)
* train_test_split -> Gera um conjunto de dados onde tem as duas informações (train e test)
* df -> que será dividido
* test_size = 0.2 -> tamanho da base de test (20%)
* random_state = 0 -> estado randomico

In [47]:
train, test = train_test_split(df, test_size = 0.2, random_state = 0)

In [48]:
train

     sepal_length  sepal_width  petal_length  petal_width     species
137           6.4          3.1           5.5          1.8   virginica
84            5.4          3.0           4.5          1.5  versicolor
27            5.2          3.5           1.5          0.2      setosa
127           6.1          3.0           4.9          1.8   virginica
132           6.4          2.8           5.6          2.2   virginica
..            ...          ...           ...          ...         ...
9             4.9          3.1           1.5          0.1      setosa
103           6.3          2.9           5.6          1.8   virginica
67            5.8          2.7           4.1          1.0  versicolor
117           7.7          3.8           6.7          2.2   virginica
47            4.6          3.2           1.4          0.2      setosa

[120 rows x 5 columns]

In [49]:
test

     sepal_length  sepal_width  petal_length  petal_width     species
114           5.8          2.8           5.1          2.4   virginica
62            6.0          2.2           4.0          1.0  versicolor
33            5.5          4.2           1.4          0.2      setosa
107           7.3          2.9           6.3          1.8   virginica
7             5.0          3.4           1.5          0.2      setosa
100           6.3          3.3           6.0          2.5   virginica
40            5.0          3.5           1.3          0.3      setosa
86            6.7          3.1           4.7          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor
71            6.1          2.8           4.0          1.3  versicolor
134           6.1          2.6           5.6          1.4   virginica
51            6.4          3.2           4.5          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
54            6.5          2.8           4.6          1.5  versicolor
63            6.1          2.9           4.7          1.4  versicolor
37            4.9          3.1           1.5          0.1      setosa
78            6.0          2.9           4.5          1.5  versicolor
90            5.5          2.6           4.4          1.2  versicolor
45            4.8          3.0           1.4          0.3      setosa
16            5.4          3.9           1.3          0.4      setosa
121           5.6          2.8           4.9          2.0   virginica
66            5.6          3.0           4.5          1.5  versicolor
24            4.8          3.4           1.9          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
126           6.2          2.8           4.8          1.8   virginica
22            4.6          3.6           1.0          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
97            6.2          2.9           4.3          1.3  versicolor
93            5.0          2.3           3.3          1.0  versicolor
26            5.0          3.4           1.6          0.4      setosa

#### Preparando os dados

In [50]:
train = train.query("species == 'versicolor' | species == 'virginica'")
test = test.query("species == 'versicolor' | species == 'virginica'")

In [51]:
train

     sepal_length  sepal_width  petal_length  petal_width     species
137           6.4          3.1           5.5          1.8   virginica
84            5.4          3.0           4.5          1.5  versicolor
127           6.1          3.0           4.9          1.8   virginica
132           6.4          2.8           5.6          2.2   virginica
59            5.2          2.7           3.9          1.4  versicolor
..            ...          ...           ...          ...         ...
70            5.9          3.2           4.8          1.8  versicolor
87            6.3          2.3           4.4          1.3  versicolor
103           6.3          2.9           5.6          1.8   virginica
67            5.8          2.7           4.1          1.0  versicolor
117           7.7          3.8           6.7          2.2   virginica

[81 rows x 5 columns]

In [52]:
test

     sepal_length  sepal_width  petal_length  petal_width     species
114           5.8          2.8           5.1          2.4   virginica
62            6.0          2.2           4.0          1.0  versicolor
107           7.3          2.9           6.3          1.8   virginica
100           6.3          3.3           6.0          2.5   virginica
86            6.7          3.1           4.7          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor
71            6.1          2.8           4.0          1.3  versicolor
134           6.1          2.6           5.6          1.4   virginica
51            6.4          3.2           4.5          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
54            6.5          2.8           4.6          1.5  versicolor
63            6.1          2.9           4.7          1.4  versicolor
78            6.0          2.9           4.5          1.5  versicolor
90            5.5          2.6           4.4          1.2  versicolor
121           5.6          2.8           4.9          2.0   virginica
66            5.6          3.0           4.5          1.5  versicolor
126           6.2          2.8           4.8          1.8   virginica
97            6.2          2.9           4.3          1.3  versicolor
93            5.0          2.3           3.3          1.0  versicolor

#### Transformando os nomes em numeros (versicolor e virginica)

In [61]:
train['species'] = np.where(train['species'] == 'versicolor', 0, 1)
test['species'] = np.where(test['species'] == 'versicolor', 0, 1)

C:\Users\Inacio Raimundo\AppData\Local\Temp\ipykernel_10596\3760608477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['species'] = np.where(train['species'] == 'versicolor', 0, 1)
C:\Users\Inacio Raimundo\AppData\Local\Temp\ipykernel_10596\3760608477.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['species'] = np.where(test['species'] == 'versicolor', 0, 1)

#### Retirando colunas que nserão usadas

#### Colunas vazias

In [63]:
pd.isna(df)

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [65]:
pd.isna(df).sum()
pd.isna(df).sum().to_frame('Empty value')

              Empty value
sepal_length            0
sepal_width             0
petal_length            0
petal_width             0
species                 0

In [66]:
train_x = train.drop('species', axis = 1)
train_y = train['species']

In [67]:
test_x = test.drop('species', axis = 1)
test_y = test['species']

In [68]:
train_x

     sepal_length  sepal_width  petal_length  petal_width
137           6.4          3.1           5.5          1.8
84            5.4          3.0           4.5          1.5
127           6.1          3.0           4.9          1.8
132           6.4          2.8           5.6          2.2
59            5.2          2.7           3.9          1.4
..            ...          ...           ...          ...
70            5.9          3.2           4.8          1.8
87            6.3          2.3           4.4          1.3
103           6.3          2.9           5.6          1.8
67            5.8          2.7           4.1          1.0
117           7.7          3.8           6.7          2.2

[81 rows x 4 columns]

In [69]:
train_y

137    1
84     1
127    1
132    1
59     1
      ..
70     1
87     1
103    1
67     1
117    1
Name: species, Length: 81, dtype: int32

### Modelos
* LR - Logistic Regression
* LDA - Linear Discriminant Analysis
* DT - Decision Tree
* KNN - K Neighbors Classifier
* SVM - System Virtual Machine
* RF - Random Forest

> Treinar - Fit

In [71]:
LR = LogisticRegression(solver = 'lbfgs', max_iter = 1000).fit(train_x, train_y)
LiR = LinearRegression().fit(train_x, train_y)
LDA = LinearDiscriminantAnalysis().fit(train_x, train_y)
DT = DecisionTreeClassifier().fit(train_x, train_y)
KNN = KNeighborsClassifier().fit(train_x, train_y)
SVM = SVC().fit(train_x, train_y)
RF = RandomForestClassifier().fit(train_x, train_y)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1

In [73]:
plot_confusion_matrix(LR, test_x, test_y)
plot.show()

NameError: name 'LDA' is not defined